<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Here is a list of VMs from Azure !!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>
<body>
    <div class="container">
        <h1 class="Display-1">Virtual Machine Details</h1>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <a class="btn btn-primary" href="https://localhost:5000/listsubscriptions" role="button">Subscriptions</a>
        <br>
                            <table class="table table-bordered table-striped table.sm">
                                    <tread>
                                           <tr>
                                                <th scope="col">Key:</th>
                                                <th scope="col">Value:</th>
                                           </tr>
                                    </tread>
                                    <tbody id="myTable">

                                        {% for thing in graph_data %}

                                                    {% for k, kv in thing.items() %}  
                                                    <tr>
                                                        <td> {{ k }} </td>
                                                        <td> {{ kv }} </td> 
                                                   </tr> 
                                                   {% endfor %}

                                        {% endfor %}
                                        <!-- <tr><td>{{ graph_data }}</td></tr>  -->
                                    </tbody>
                                </table>
    </div>

    <script>
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
    </script>
</body>
</html>